WlanDetection/Connected Services/SignalService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1:81/wlandetectionservice/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WLanDetectionServer" />
  <xs:element name="SaveList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WLanDetectionServer" minOccurs="0" name="signals" nillable="true" type="q1:ArrayOfSignal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveListResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Save">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WLanDetectionServer" minOccurs="0" name="signals" nillable="true" type="q2:Signal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>